.about{
    margin-top: 70px;
    max-width: 50%;
    
    @media #{$mobile} {
        max-width: 100%;
        margin-top: 30px;
    }

    h1, h2, h3 {
        margin: 0;
        @media #{$mobile} {
            margin: 0 0 15px;
        }
    }

    .name{
        @include heading-font;
        @media #{$mobile} {
            @include subheading-font;
        }
    }

    .interested-role{
        @include subheading-font;
        @media #{$mobile} {
            @include medium-font;
        }
        margin-bottom: 30px;
    }

    .hire-me-btn{
        margin-top: 20px;
        display: block;
        width: max-content;
    }
}