.contact-resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mobile} {
        flex-direction: column-reverse;
    }
}
.contact {
    @media #{$desktop} {
        width: 60%;
    }
    h2 {
        @include subheading-font;
    }
    .btn {
        @include medium-font;
        display: block;
        margin-top: 30px;
        width: max-content;
    }
}

.resume {
    @include medium-font;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .download-icon {
        display: inline-block;
        margin-left: 15px;
    }
    @media #{$desktop} {
        &:hover {
            .download-icon {
                transform: translateY(10%);
                transform: 0.3s all ease-in-out;
            }
        }
    }
    @media #{$mobile} {
        margin-top: 15%;
    }
}
