.experience{
    @media #{$desktop} {
        margin-left: 15%;
    }
    h1{
        @include subheading-font;
    }
    .companies{
        display: flex;
    }
    .company{
        @include medium-font;
        margin: 25px 0 10px;
        @media #{$mobile} {
            @include normal-font;
            margin-top: 0;
        }
        cursor: pointer;
        &.active{
            background-color: $highlight-color;
            color: $black-text-color;
        }
    }
    .time-line {
        margin: 0 10px;
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: $highlight-color;
        &:last-child{
            display: none;
        }
    }
    .company-experience{
        *{
            margin-top: 25px;
        }
        .role{
            @media #{$desktop} {
                @include medium-font;
            }
            font-weight: bold;
        }
        .tech-stack{
            font-weight: bold;
        }
    }
}