.hanging-social {
    position: fixed;
    left: 20px;
    bottom: 0;
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        li{
            margin-top: 15px;
        }
    }
    ul::after {
        content: "";
        width: 2px;
        height: 160px;
        position: relative;
        top: 20px;
        left: 13px;
        display: inline-block;
        background-color: $text-color;
    }
    &:hover {
        color: $highlight-color;
    }
    a{
        display: block
    }
    img {
        width: 32px;
        height: 32px;
    }
}
