nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $body-background;
    z-index: 3;
    
    .name-logo{
        font-family: $font-code;
        color: $highlight-color;
    }
    
    .menu-item{
        &:not(:last-child){
            margin-right: 25px;
        }
        &:hover{
            color: $highlight-color;
            font-weight: 600;
        }
    }

    .un{
        &:hover:after{
            width: 0;
        }
        &.active:after {
            width: 100%;
        }
    }

    .active {
        color: $highlight-color;
        font-weight: 600;
    }

}