nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $body-background;
    z-index: 3;
    @media #{$mobile} {
        display: block;
    }
    .name-logo {
        font-family: $font-code;
        color: $highlight-color;
    }
    ul {
        list-style-type: none;
        display: inherit;
        background-color: $body-background;
        li:not(:last-child) {
            margin-right: 25px;
        }
        .active {
            color: $highlight-color;
            font-weight: 600;
        }
        @media #{$mobile} {
            width: 100%;
            height: 100vh;
            padding: 0 26px 25px;
            transform: translateY(200%);
            transition: 1s all ease-in-out;
            position: absolute;
            left: -26px;
            @include large-font;
            li {
                margin: 15px 0 25px;
                &:last-child {
                    margin-top: 40px;
                }
            }
        }
    }
    .un {
        &:hover:after {
            width: 0;
        }
        &.active:after {
            width: 100%;
        }
    }
    @media #{$desktop} {
        .menu-item:hover {
            color: $highlight-color;
            font-weight: 600;
        }
    }

    &.active {
        .line {
            &:nth-child(1) {
                transform: translateY(13px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-4px) rotate(-45deg);
            }
        }
        ul {
            @media #{$mobile} {
                transform: translateY(0);
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            }
        }
    }
    .hamburger {
        @media #{$desktop} {
            display: none;
        }
        position: absolute;
        top: 15px;
        right: 0;
        .line {
            width: 34px;
            height: 3px;
            background-color: #ecf0f1;
            display: block;
            margin: 5px auto;
            transition: 0.5s all ease-in-out;
        }
    }
}
