.portfolio {
    padding: 0 40px;
    position: relative;
    .portfolio-content {
        margin: 0 10%;
    }
    .about-techicons {
        display: flex;
        justify-content: space-between;
        scroll-margin-top: 185px;
    }

    .experience,
    .projects,
    .contact-resume {
        padding-top: 18%;
    }

    .contact-resume {
        margin-bottom: 18%;
    }
}
