.portfolio {
    padding: 0 40px;
    @media #{$mobile} {
        padding: 0 21px;
    }
    position: relative;
    .portfolio-content {
        @media #{$desktop} {
            margin: 0 10%;
        }
    }
    .about-techicons {
        display: flex;
        justify-content: space-between;
        scroll-margin-top: 185px;
    }

    .experience,
    .projects,
    .contact-resume {
        padding-top: 18%;
    }

    .contact-resume {
        margin-bottom: 18%;
    }
}
