.tech-box {
    position: relative;
    display: flex;
    justify-content: center;
    @media #{$mobile} {
        display: none;
    }
    .tech-icons {
        @include on-circle($item-count: $tech-icons-count, $circle-size: 20em, $item-size: 3em);
        top: 120px;
        img {
            cursor: pointer;
        }
    }
    .tech-description {
        @include medium-font;
        font-family: $font-code;
        color: $highlight-color;
        font-weight: bold;
        position: absolute;
        top: 46%;
    }
}
